
<h2>Hole Cards</h2>
<div>
  <span >
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "hole-card0", class: "selectable" %>
  </span>
  <span>
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "hole-card1", class: "selectable" %>
  </span>
</div>
