<div class="jumbotron text-center">
 <h1> Statistics </h1>
</div>

<p>Lifetime results: <%= life_time_total %></p>
<p>Hands played: <%= total_hands %></p>
<p>Profit per hand: <%= profit_per_hand %></p>
