<h1>Edit Poker Session</h1>
<%= link_to 'Back', user_poker_sessions_path(current_user.id) %> 
<%= form_for @poker_session, url: poker_session_url(@poker_session) do |f| %>
  <%= render 'form', poker_session: @poker_session, f: f %>
<% end %>
