<div class="jumbotron text-center">
  <h2>Poker Pal Hand History<h2>
</div>
<div class="container-fluid">
  <%= link_to 'New Session', new_game_path %>

  <%= render 'games_table', games: @games %>
</div>
