<h1>Show Poker Session</h1>

<%= link_to "Back", games_path %>
<%= @game.date_played %>

<div id="hands">
  <%= link_to 'Add Hand', new_game_hand_path(@game) %>
  <%= render 'hands_table', game: @game %>
<div>
