// Place all the styles related to the Hands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div#deck img{
  cursor: pointer;
}
div#deck img[in-play=true]{
  visibility: hidden;
}
img[data-selected=true]{
  outline: 1px solid red;
}
div#board img{
  cursor: pointer;
}

