<a class="btn btn-outline-primary" href="<%= games_path %>" role="button">
 Game Logs
</a>

<div style="padding-left: 10px;">
  <a class="btn btn-outline-success" href="<%= statistics_path %>" role="button">
    Stats
  </a>
</div>
