<nav class="navbar navbar-light bg-light navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="">
      <%= image_tag "Logo_PP.jpeg" %>
    </a>
  </div>
  <div class="form-inline">
    <%= render 'layouts/navigation/helpful_links' %>
  </div>
</nav>
