
<a class="btn btn-outline-primary" href="<%= new_user_session_path %>" role="button">
 Login
</a>

<div style="padding-left: 10px;">
  <a class="btn btn-outline-success" href="<%= new_user_registration_path %>" role="button">
  Sign Up
  </a>
</div>
